body {
    -webkit-font-smoothing: antialiased;
    width: 80%;
    margin: 0 auto;
    background: #f8f8f8;
}
body, input {
    font-family: sans-serif;
    font-size: 16px;
    color: #444;
}
input:focus {
    outline: none;
}
h1 {
    font-weight: 200;
    text-align: center;
    font-size: 3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    margin: 0px 0px 10px 0px;
}
.arabic {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.centeredImage{
    text-align:center;
    display:block;
    float: right;
}
.translatorHeading{
    position: relative;
    top: 2px;
    color: #006DAC;
    line-height: 24px;
    font-weight: 600;
    font-size: 14px;
    direction: ltr;
}
.verseHeading{
    position: relative;
    top: 2px;
    color: #006DAC;
    line-height: 24px;
    font-weight: 600;
    font-size: 14px;
    direction: ltr;
}

.searchitem{
    background-color 150ms ease-in-out
}

.searchitem:hover{
    background-color: #FFF;
    border-radius: 2px;
}

#searchresultsdiv{
    padding-top: 10px;
}



.translator{
    color: #333;
    font-weight:300;
}
.translation{
    padding-bottom: 15px;
}
.row {
    overflow: auto;
    padding: 5px;
}
.row:first-child {
    background: #eee;
    font-weight: bolder;
}
.row > * {
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
}
input {
    text-align: center;
    border: none;
    background: #fff;
    width: 100%;
    color: #aaa;
}
a {
    text-decoration: none;
    color: #335;
}
.rounded-box, .errors p {
    padding: 10px;
    border-radius: 4px;
    border: 1px #ddd solid;
}
.errors p {
    background: #faa;
    cursor: pointer;
}
footer {
    text-align: center;
    font-style: italic;
    color: #666;
    padding: 0px;
    position:absolute;
    bottom:0;
}
